# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.*~

#examples outputs
sobel.png
sobel.jpeg
sobel.jpg

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories 
vendor/

#working and build  directories 
.settings/

#examples'  exe files
examples/edgedetect/edgedetect
examples/webcam/webcam

#projects
.project
*.sublime-project
*.sublime-workspace

